
@using System.Globalization
@using SyberGate.RMACT.Web.Areas.App.Models.Common.Modals
@using SyberGate.RMACT.Web.Areas.App.Models.Suppliers
@model CreateOrEditSupplierModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSupplier")) : L("CreateNewSupplier")))

<div class="modal-body">
        <div id="SupplierInformationsTab">
            <form name="SupplierInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Supplier.Id" />
                }

				

				
								<div class="form-group">
									<label for="Supplier_Code">@L("Code")</label>
									<input class="form-control" id="Supplier_Code" value="@Model.Supplier.Code" type="text" name="code"  required  maxlength="@SyberGate.RMACT.Masters.SupplierConsts.MaxCodeLength"  minlength="@SyberGate.RMACT.Masters.SupplierConsts.MinCodeLength"  />
								</div>
					
								<div class="form-group">
									<label for="Supplier_Name">@L("Name")</label>
									<input class="form-control" id="Supplier_Name" value="@Model.Supplier.Name" type="text" name="name"  required  maxlength="@SyberGate.RMACT.Masters.SupplierConsts.MaxNameLength"  minlength="@SyberGate.RMACT.Masters.SupplierConsts.MinNameLength"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
