@using SyberGate.RMACT.Authorization
@using SyberGate.RMACT.Web.Areas.App.Models.Suppliers
@using SyberGate.RMACT.Web.Areas.App.Startup
@model SuppliersViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Suppliers;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Suppliers/Index.js" asp-append-version="true"></script>
}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Suppliers")" description="@L("SuppliersHeaderInfo")">
       

        @if (IsGranted(AppPermissions.Pages_Administration_Suppliers_Create))
        {
            <button id="CreateNewSupplierButton" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> @L("CreateNewSupplier")
            </button>}
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="SuppliersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetSuppliersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1" aria-label="@L("Search")"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                        <div class="@(IsGranted(AppPermissions.Pages_Administration_Roles) ? "col-xl-6" : "col-xl-12")">
                            <div class="kt-separator kt-separator--border-dashed"></div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CodeFilterId">@L("Code")</label>
                                <input type="text" class="form-control" name="codeFilter" id="CodeFilterId">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NameFilterId">@L("Name")</label>
                                <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                            </div>
                        </div>

                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                            <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="SuppliersTable" class="table table-separate table-head-custom dataTable no-footer dtr-inline dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th>@L("Code")</th>
                                <th>@L("Name")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
