
@using SyberGate.RMACT.Web.Areas.App.Models.Common.Modals
@using SyberGate.RMACT.Web.Areas.App.Models.PartModelMatrixes
@model PartModelMatrixViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PartModelMatrixInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PartNumber") :</h6>
                @Model.PartModelMatrix.PartNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Quantity") :</h6>
                @Model.PartModelMatrix.Quantity
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("LeadModel")) @L("Name") :</h6>
                @Model.LeadModelName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

