@using SyberGate.RMACT.Authorization
@using SyberGate.RMACT.Web.Areas.App.Models.CommodityTrees
@using SyberGate.RMACT.Web.Areas.App.Startup
@model CommodityTreesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.CommodityTrees;
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/CommodityTrees/Index.css" asp-append-version="true" />
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/CommodityTrees/Index.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/CommodityTrees/Rm_Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("CommodityHierarchy")" description="@L("CommodityTreesHeaderInfo")"></abp-page-subheader>
        <div class="@(await GetContainerClass())">
            <div class="row">
                <div class="col">
                    <div class="card card-custom card-stretch" id="ouCard">
                        <div class="card-header align-items-center">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="font-weight-bolder text-dark">@L("CommodityTree")</span>
                            </h3>
                            <div class="card-toolbar">
                                @if (IsGranted(AppPermissions.Pages_CommodityTrees_ManageCommodityTree))
                                {
                                    <button type="button" id="AddRootCommodityButton" class="btn btn-primary btn-sm">
                                        <i class="la la-plus"></i> @L("AddRootCommodity")
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-scroll">
                                <div id="CommodityEditTree"></div>
                                <div id="CommodityTreeEmptyInfo" ng-if="!vm.CommodityTree.unitCount" class="text-muted">
                                    @L("NoCommodityTreeDefinedYet")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-custom card-stretch" id="RMPriceIndexContainer">
                        <div class="card-header align-items-center">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="font-weight-bolder text-dark" id="SelectedOuRightTitle">@L("CommodityTreeIndex")</span>
                            </h3>
                            <div class="card-toolbar">
                                @if (IsGranted(AppPermissions.Pages_CommodityTrees_ManageCommodityTree))
                                {
                                    <label for="yearId">@L("Year")</label>
                                    <select id="yearId" name="yearId"><option>Select Year</option></select> 
                                }
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-scroll">
                                <div id="SettingsTabPanel" class="tabbable-line">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a href="#LMETab" aria-expanded="true" id="LMEHref" class="nav-link active" data-toggle="tab" role="tab">
                                                @L("LME")
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#MMRTab" aria-expanded="true" id="MMRHref" class="nav-link" data-toggle="tab" role="tab">
                                                @L("MMR")
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#SIAMTab" aria-expanded="true" id="SIAMHref" class="nav-link" data-toggle="tab" role="tab">
                                                @L("SIAM")
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="LMETab">
                                            <div id="LMETable" style="display: none">
                                                <table class="CommodityTree-LME-table display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>@L("RMGrade")</th>
                                                            <th>@L("Enum_Months_0")</th>
                                                            <th>@L("Enum_Months_1")</th>
                                                            <th>@L("Enum_Months_2")</th>
                                                            <th>@L("Enum_Months_3")</th>
                                                            <th>@L("Enum_Months_4")</th>
                                                            <th>@L("Enum_Months_5")</th>
                                                            <th>@L("Enum_Months_6")</th>
                                                            <th>@L("Enum_Months_7")</th>
                                                            <th>@L("Enum_Months_8")</th>
                                                            <th>@L("Enum_Months_9")</th>
                                                            <th>@L("Enum_Months_10")</th>
                                                            <th>@L("Enum_Months_11")</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div id="LMEEmptyInfo" class="text-muted mt-4">
                                                @L("SelectAnYearToSeeIndexes")
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="MMRTab">
                                            <div id="MMRTable" style="display: none">
                                                <table class="CommodityTree-MMR-table display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>@L("RMGrade")</th>
                                                            <th>@L("Enum_Months_0")</th>
                                                            <th>@L("Enum_Months_1")</th>
                                                            <th>@L("Enum_Months_2")</th>
                                                            <th>@L("Enum_Months_3")</th>
                                                            <th>@L("Enum_Months_4")</th>
                                                            <th>@L("Enum_Months_5")</th>
                                                            <th>@L("Enum_Months_6")</th>
                                                            <th>@L("Enum_Months_7")</th>
                                                            <th>@L("Enum_Months_8")</th>
                                                            <th>@L("Enum_Months_9")</th>
                                                            <th>@L("Enum_Months_10")</th>
                                                            <th>@L("Enum_Months_11")</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div id="MMREmptyInfo" class="text-muted mt-4">
                                                @L("SelectAnYearToSeeIndexes")
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="SIAMTab">
                                            <div id="SIAMTable" style="display: none">
                                                <table class="CommodityTree-SIAM-table display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>@L("RMGrade")</th>
                                                            <th>@L("Enum_Months_0")</th>
                                                            <th>@L("Enum_Months_1")</th>
                                                            <th>@L("Enum_Months_2")</th>
                                                            <th>@L("Enum_Months_3")</th>
                                                            <th>@L("Enum_Months_4")</th>
                                                            <th>@L("Enum_Months_5")</th>
                                                            <th>@L("Enum_Months_6")</th>
                                                            <th>@L("Enum_Months_7")</th>
                                                            <th>@L("Enum_Months_8")</th>
                                                            <th>@L("Enum_Months_9")</th>
                                                            <th>@L("Enum_Months_10")</th>
                                                            <th>@L("Enum_Months_11")</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div id="SIAMEmptyInfo" class="text-muted mt-4">
                                                @L("SelectAnYearToSeeIndexes")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>