
@using System.Globalization
@using SyberGate.RMACT.Web.Areas.App.Models.Common.Modals
@using SyberGate.RMACT.Web.Areas.App.Models.Buyers
@model CreateOrEditBuyerModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditBuyer")) : L("CreateNewBuyer")))

<div class="modal-body">
        <div id="BuyerInformationsTab">
            <form name="BuyerInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Buyer.Id" />
                }






                <div class="form-group">
                    <label for="Buyer_Code">@L("Code")</label>
                    <input class="form-control" id="Buyer_Code" value="@Model.Buyer.Code" type="text" name="code" required disabled maxlength="@SyberGate.RMACT.Masters.BuyerConsts.MaxCodeLength" minlength="@SyberGate.RMACT.Masters.BuyerConsts.MinCodeLength" />
                </div>

                <div class="form-group">
                    <label for="Buyer_Name">@L("Name")</label>
                    <input class="form-control" id="Buyer_Name" value="@Model.Buyer.Name" type="text" name="name" required disabled maxlength="@SyberGate.RMACT.Masters.BuyerConsts.MaxNameLength" minlength="@SyberGate.RMACT.Masters.BuyerConsts.MinNameLength" />
                </div>

                <div class="form-group">
                    <label for="userId">@L("User")</label>
                    @Html.DropDownList("userId", new SelectList(Model.BuyerUserList, "Id", "DisplayName", (Model.IsEditMode ? Model.Buyer.UserId.ToString() : "")), @L("SelectAUser"), new { @class = "form-control" })
                </div>
            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
