@using SyberGate.RMACT.Authorization
@using SyberGate.RMACT.Web.Areas.App.Models.A3Documents
@using SyberGate.RMACT.Web.Areas.App.Models.Common.Modals
@using SyberGate.RMACT.Web.Areas.App.Startup
@model A3DocumentsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.A3Documents;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/A3Documents/_ListA3.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(@L("A3DocumentList")))

<div class="d-flex flex-column flex-column-fluid" id="kt_content" >

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="A3DocumentsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetA3DocumentsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                        <div class="col-md-12">
                            <div class="kt-separator kt-separator--border-dashed"></div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="BuyerFilterId">@L("Buyer")</label>
                                <input type="text" class="form-control" name="buyerFilter" id="BuyerFilterId" value="@Model.BuyerName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="SupplierFilterId">@L("Supplier")</label>
                                <input type="text" class="form-control" name="supplierFilter" id="SupplierFilterId">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MonthFilterId">@L("Month")</label>
                                <input type="text" class="form-control" name="monthFilter" id="MonthFilterId">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="YearFilterId">@L("Year")</label>
                                <input type="text" class="form-control" name="yearFilter" id="YearFilterId">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="checkbox-list">
                                <label class="checkbox checkbox-outline">
                                    <input type="checkbox"
                                           id="IsConfirmed"
                                           name="IsConfirmedCheckbox"
                                           value="false">
                                    <span></span>
                                    @L("IsConfirmedCheckBox")
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                            <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                        </div>
                    </div>
                </div>
                <div class ="row">
                    <div class="col-md-3">
                    <div class="form-group">
                                <label for="BuyerFilterId">@L("Buyer")</label>
                                <input type="text" class="form-control" name="buyerFilter" id="BuyerFilterId" value="@Model.BuyerName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="SupplierFilterId">@L("Supplier")</label>
                                <input type="text" class="form-control" name="supplierFilter" id="SupplierFilterId" value="@Model.SupplierName" style="width:300px">
                            </div>
                        </div>

                </div>
                
                            
                <div class="align-items-center">
                    <table id="A3DocumentsTable" class="table table-separate table-head-custom dataTable no-footer dtr-inline dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th style="width:30px">@L("Actions")</th>
                                <th style="width:30px">@L("Version")</th>
                                @*<th style="width:30px">@L("Buyer")</th>
                                <th style="width:110px">@L("Supplier")</th>
                                <th>@L("Month")</th>*@
                                <th style="width:30px">@L("Mon&Yr")</th>
                                <th style="width:60px">@L("BuyerRemarks")</th>
                                <th style="width:70px">@L("ApprovalStatus")</th>
                                <th>@L("ApproverRemarks")</th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>